
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.cambridge-landing-page-N3a {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-o18p-rzL {
    width: 100%;
    height: 91.1rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-29-zKr {
      width: 151.2rem;
      height: 84.3rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #e6f0ff;
    }
    .frame-1-WJC {
      height: 2.4rem;
      position: absolute;
      left: 67.1rem;
      top: 5.2rem;
      display: flex;
      column-gap: 5.6rem;
      align-items: center;
      width: 52.8rem;

      .about-cs2 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3225;
        color: #000000;
        font-family: Red Hat Display, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .application-process-M3v {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3225;
        color: #000000;
        font-family: Red Hat Display, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .testimonials-UeL {
        font-weight: 600;
        line-height: 1.3225;
        color: #000000;
        font-family: Red Hat Display, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
      }
      .faqs-Drp {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3225;
        color: #000000;
        font-family: Red Hat Display, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .light-button-primary-text-MTE {
      top: 4rem;
      justify-content: center;
      line-height: 1.3225;
      letter-spacing: 0.1rem;
      white-space: nowrap;
      box-sizing: border-box;
      width: 17rem;
      left: 124.2rem;
      text-transform: capitalize;
      border: solid 0.3rem #00a3ff;
      border-radius: 1rem;
      align-items: center;
      font-size: 2rem;
      font-weight: 700;
      color: #00a3ff;
      display: flex;
      font-family: Red Hat Display, 'Source Sans Pro';
      height: 4.8rem;
      position: absolute;
    }
    .dps-group-01-1-1-zFJ {
      background-image: url('REPLACE_IMAGE:5abbbd700904198e204de1694c7ff5f0d7622dee');
      width: 31.4rem;
      height: 9.6rem;
      position: relative;
      left: 10rem;
      top: 1.6rem;
      background-size: 107.377% 100.334%;
      background-position: -1.1153rem -0.016rem;
    }
    .group-2-fMS {
      padding-top: 0.1rem;
      width: 58.9rem;
      height: 33.5rem;
      position: absolute;
      left: 14.1rem;
      top: 26rem;
      border-radius: 10rem;
      box-sizing: border-box;

      .lorem-ipsum-sit-amet-lorem-ipsum-aDW {
        margin-bottom: 3rem;
        max-width: 58.9rem;
        display: flex;
        line-height: 1.25;
        letter-spacing: 0.1rem;
        text-transform: capitalize;
        font-family: Lexend, 'Source Sans Pro';
        font-size: 5rem;
        font-weight: 500;
        color: #090909;
      }
      .lorem-ipsum-sit-amet-lorem-ipsum-sit-amet-lorem-ipsum-lorem-ipsum-sit-amet-ez4 {
        color: #090909;
        display: flex;
        font-size: 2.4rem;
        line-height: 1.25;
        letter-spacing: 0.1rem;
        text-transform: capitalize;
        margin-bottom: 4.8rem;
        max-width: 52.7rem;
        font-weight: 400;
        font-family: Questrial, 'Source Sans Pro';
      }
      .group-1-vwa {
        width: 26.5rem;
        height: 7.1rem;
        background-color: #c83f3f;
        box-shadow: 0 0 5rem rgba(154, 218, 255, 0.5);
        justify-content: center;
        font-weight: 500;
        font-family: Red Hat Display, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-size: 2.8rem;
        line-height: 1.3225;
        letter-spacing: 0.1rem;
        color: #ffffff;
        border-radius: 10rem;
      }
    }
    .group-6-ZzY {
      box-sizing: border-box;
      height: 13.7rem;
      position: absolute;
      background-color: #ffffff;
      border-radius: 2.5rem;
      column-gap: 5rem;
      align-items: center;
      box-shadow: 0 0 2rem rgba(173, 159, 159, 0.150000006);
      padding: 3.9rem 5.8rem 3.8rem 5.8rem;
      width: 116.6rem;
      left: 17.3rem;
      top: 77.4rem;
      display: flex;

      .rectangle-2-C1v {
        width: 6rem;
        height: 6rem;
        background-color: #d9d9d9;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .rectangle-3-Jqe {
        flex-shrink: 0;
        width: 6rem;
        height: 6rem;
        background-color: #d9d9d9;
        border-radius: 1rem;
      }
      .rectangle-4-RQU {
        border-radius: 1rem;
        flex-shrink: 0;
        width: 6rem;
        height: 6rem;
        background-color: #d9d9d9;
      }
      .rectangle-5-L1e {
        width: 6rem;
        height: 6rem;
        background-color: #d9d9d9;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .rectangle-6-FuJ {
        flex-shrink: 0;
        width: 6rem;
        height: 6rem;
        background-color: #d9d9d9;
        border-radius: 1rem;
      }
      .rectangle-7-uyr {
        width: 6rem;
        height: 6rem;
        background-color: #d9d9d9;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .rectangle-10-opL {
        flex-shrink: 0;
        width: 6rem;
        height: 6rem;
        background-color: #d9d9d9;
        border-radius: 1rem;
      }
      .rectangle-8-pjS {
        width: 6rem;
        height: 6rem;
        background-color: #d9d9d9;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .rectangle-9-mPn {
        width: 6rem;
        height: 6rem;
        background-color: #d9d9d9;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .rectangle-11-WMN {
        background-color: #d9d9d9;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 6rem;
        height: 6rem;
      }
    }
    .mask-group-cfJ {
      left: 83.4rem;
      top: 17.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 49.3rem;
      height: 49.3rem;
      position: absolute;
    }
    .group-1758-Kpc {
      width: 30.2247rem;
      height: 13.4963rem;
      position: absolute;
      left: 114.1rem;
      top: 22.2753rem;
      box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1000000015);

      .rectangle-27-Ewa {
        top: 2.2247rem;
        box-shadow: 0 0 2rem rgba(173, 159, 159, 0.150000006);
        background-color: #ffffff;
        border-radius: 2.5rem;
        width: 25.3rem;
        height: 8.6rem;
        position: absolute;
        left: 4.9247rem;
      }
      .opportunities-worldwide-MFW {
        height: 6rem;
        position: absolute;
        display: flex;
        font-weight: 500;
        line-height: 1.5789473684;
        letter-spacing: 0.1rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 14.4rem;
        top: 3.5247rem;
        font-size: 1.9rem;
        text-transform: capitalize;
        color: #090909;
        left: 13.7247rem;
      }
      .rectangle-1-2sS {
        background-color: #d5e6ff;
        border-radius: 5.65rem;
        width: 11.3rem;
        height: 11.3rem;
        position: absolute;
        left: 1.0244rem;
        top: 0.9247rem;
        box-shadow: 0 0 2rem rgba(173, 159, 159, 0.150000006);
      }
      .adobestock614586395-1-8fa {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 13.4962rem;
        height: 13.4963rem;
      }
    }
    .group-1760-3Xe {
      width: 35.7rem;
      height: 13.2rem;
      position: absolute;
      left: 68.1rem;
      top: 49.1rem;
      border-radius: 2.5rem;

      .rectangle-27-myS {
        top: 1.4rem;
        box-shadow: 0 0 10rem rgba(173, 159, 159, 0.150000006);
        background-color: #ffffff;
        border-radius: 2.5rem;
        width: 34rem;
        height: 10.3rem;
        position: absolute;
        left: 1.7rem;
      }
      .global-learning-community-6Vv {
        letter-spacing: 0.1rem;
        text-transform: capitalize;
        left: 16rem;
        display: flex;
        position: absolute;
        top: 3.6rem;
        font-size: 1.9rem;
        font-weight: 500;
        line-height: 1.5789473684;
        color: #090909;
        width: 16.6rem;
        height: 6rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .rectangle-28-aR6 {
        width: 14.2rem;
        height: 13.2rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0 10rem rgba(173, 159, 159, 0.150000006);
        background-color: #ffe2e2;
        border-radius: 2.5rem;
      }
      .adobestock632613014-1-6uE {
        background-size: 249.574% 142.258%;
        background-position: -14.5282rem -3.0465rem;
        background-image: url('REPLACE_IMAGE:f147e69c0a9fc06541e6e38b57b0d1916d73fc19');
        width: 14.1078rem;
        height: 10.7949rem;
        position: relative;
        left: 0.0461rem;
        top: 1.1525rem;
      }
    }
  }
  .auto-group-vcdr-xgY {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.4rem 11.25rem 8rem 11.25rem;
    width: 100%;

    .group-4-GSL {
      margin-bottom: 5.3rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-3-cm6 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 30.75rem 3.4rem 25.15rem;
        width: calc(100% - 55.9rem);

        .about-us-jap {
          margin-bottom: 1.6rem;
          justify-content: center;
          font-weight: 600;
          line-height: 1.3225;
          letter-spacing: 0.1rem;
          text-transform: capitalize;
          color: #a20606;
          text-align: center;
          display: flex;
          font-size: 2.4rem;
          font-family: Red Hat Display, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .introducing-cambridge-curriculum-F3N {
          letter-spacing: 0.1rem;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          display: flex;
          justify-content: center;
          font-size: 4rem;
          font-weight: 500;
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
        }
      }
      .cambridge-international-prepares-school-students-for-life-helping-them-develop-an-informed-curiosity-and-a-lasting-passion-for-learning-cambridge-is-part-of-the-university-of-cambridge-cambridge-pathway-gives-students-a-clear-path-for-educational-success-from-age-5-to-19-dps-as-a-cambridge-school-we-believe-in-shaping-the-curriculum-around-how-our-students-learn-with-a-wide-range-of-subjects-and-flexible-ways-to-cambridge-has-to-offer-them-it-helps-students-discover-new-abilities-and-a-wider-world-and-gives-them-the-skills-they-need-for-life-so-they-can-achieve-at-school-university-and-work-YYG {
        flex-shrink: 0;
        max-width: 128.7rem;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 1.6666666667;
        color: #080a12;
        font-family: Nunito, 'Source Sans Pro';
      }
    }
    .image-2-b9A {
      margin-bottom: 4.2rem;
      width: 87.2rem;
      height: 34.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .group-15-ija {
      margin: 0rem 2.85rem 0rem 2.95rem;
      width: calc(100% - 5.8rem);
      display: flex;
      column-gap: 2.4rem;
      align-items: center;
      border-radius: 1.5rem;
      flex-shrink: 0;

      .rectangle-12-EC8 {
        width: 15.5rem;
        height: 10.4rem;
        background-color: #d9d9d9;
        border-radius: 1.5rem;
        flex-shrink: 0;
      }
      .rectangle-13-a16 {
        flex-shrink: 0;
        width: 15.5rem;
        height: 10.4rem;
        background-color: #d9d9d9;
        border-radius: 1.5rem;
      }
      .rectangle-14-v4x {
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 15.5rem;
        height: 10.4rem;
        background-color: #d9d9d9;
      }
      .rectangle-15-f2Y {
        width: 15.5rem;
        height: 10.4rem;
        background-color: #d9d9d9;
        border-radius: 1.5rem;
        flex-shrink: 0;
      }
      .rectangle-16-bwn {
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 15.5rem;
        height: 10.4rem;
        background-color: #d9d9d9;
      }
      .rectangle-17-9iQ {
        width: 15.5rem;
        height: 10.4rem;
        background-color: #d9d9d9;
        border-radius: 1.5rem;
        flex-shrink: 0;
      }
      .rectangle-18-uBn {
        flex-shrink: 0;
        width: 15.5rem;
        height: 10.4rem;
        background-color: #d9d9d9;
        border-radius: 1.5rem;
      }
    }
  }
  .auto-group-5gc3-dda {
    position: relative;
    background-color: #ffebeb;
    flex-shrink: 0;
    margin-bottom: 6.4rem;
    width: 100%;
    height: 67.7rem;

    .group-18-kCQ {
      height: 34.2rem;
      position: absolute;
      left: 26.15rem;
      top: 19.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 98.1rem;

      .vector-2-4Tz {
        height: 5.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 2.4rem 0rem;
        width: 18.7rem;
      }
      .frame-2-yax {
        height: 18.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 2.8rem;
        width: 100%;

        .group-14-i2k {
          display: flex;
          flex-direction: column;
          border-radius: 2.5rem;
          flex-shrink: 0;
          margin-right: 9.85rem;
          width: 17rem;
          height: 100%;
          align-items: center;

          .rectangle-2-SjS {
            margin: 0rem 3.55rem 3rem 3.45rem;
            width: calc(100% - 7rem);
            height: 10rem;
            background-color: #ffffff;
            border-radius: 2.5rem;
            flex-shrink: 0;
          }
          .group-7-mFv {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .step-1-XF6 {
              justify-content: center;
              font-weight: 600;
              text-transform: capitalize;
              font-family: Red Hat Display, 'Source Sans Pro';
              margin: 0rem 0.1rem 0.8rem 0rem;
              display: flex;
              font-size: 1.2rem;
              line-height: 1.3225;
              letter-spacing: 0.1rem;
              color: #a20606;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
            }
            .step-1-name-E9W {
              font-size: 2.4rem;
              font-weight: 500;
              letter-spacing: 0.1rem;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              display: flex;
              justify-content: center;
              line-height: 1.25;
              font-family: Lexend, 'Source Sans Pro';
            }
          }
        }
        .group-13-X8c {
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 2.5rem;
          flex-shrink: 0;
          margin-right: 9.85rem;
          width: 17.1rem;
          height: 100%;

          .rectangle-3-rwa {
            margin: 0rem 3.6rem 3rem 3.5rem;
            width: calc(100% - 7.1rem);
            height: 10rem;
            background-color: #ffffff;
            border-radius: 2.5rem;
            flex-shrink: 0;
          }
          .group-8-z2C {
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            align-items: center;
            display: flex;

            .step-2-wi8 {
              font-weight: 600;
              letter-spacing: 0.1rem;
              text-transform: capitalize;
              color: #a20606;
              font-family: Red Hat Display, 'Source Sans Pro';
              margin-bottom: 0.8rem;
              display: flex;
              justify-content: center;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.2rem;
              line-height: 1.3225;
            }
            .step-2-name-esS {
              text-align: center;
              justify-content: center;
              letter-spacing: 0.1rem;
              display: flex;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.25;
              color: #000000;
              font-family: Lexend, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .group-12-kvU {
          flex-shrink: 0;
          margin-right: 9.9rem;
          width: 17.1rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 2.5rem;

          .rectangle-4-VNG {
            margin: 0rem 3.45rem 3rem 3.65rem;
            width: calc(100% - 7.1rem);
            height: 10rem;
            background-color: #ffffff;
            border-radius: 2.5rem;
            flex-shrink: 0;
          }
          .group-9-cSt {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;

            .step-3-NS4 {
              font-weight: 600;
              line-height: 1.3225;
              text-transform: capitalize;
              color: #a20606;
              font-family: Red Hat Display, 'Source Sans Pro';
              flex-shrink: 0;
              text-align: center;
              display: flex;
              justify-content: center;
              font-size: 1.2rem;
              letter-spacing: 0.1rem;
              white-space: nowrap;
              margin: 0rem 0rem 0.8rem 0.1rem;
            }
            .step-3-name-gSk {
              display: flex;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              justify-content: center;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.25;
              letter-spacing: 0.1rem;
              font-family: Lexend, 'Source Sans Pro';
            }
          }
        }
        .group-11-BuJ {
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 2.5rem;
          flex-shrink: 0;
          width: 17.3rem;
          height: 100%;

          .rectangle-5-jR2 {
            margin: 0rem 3.55rem 3rem 3.75rem;
            width: calc(100% - 7.3rem);
            height: 10rem;
            background-color: #ffffff;
            border-radius: 2.5rem;
            flex-shrink: 0;
          }
          .group-10-T68 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            align-items: center;

            .step-4-cDv {
              text-transform: capitalize;
              color: #a20606;
              font-family: Red Hat Display, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.8rem;
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.3225;
              flex-shrink: 0;
              text-align: center;
              display: flex;
              justify-content: center;
              letter-spacing: 0.1rem;
            }
            .step-4-name-j3e {
              letter-spacing: 0.1rem;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              justify-content: center;
              font-size: 2.4rem;
              color: #000000;
              font-family: Lexend, 'Source Sans Pro';
              display: flex;
              font-weight: 500;
              line-height: 1.25;
            }
          }
        }
      }
      .auto-group-6jvd-qsN {
        width: calc(100% - 24.7rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 12.85rem 0rem 11.85rem;

        .vector-1-mm2 {
          height: 5.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 36rem;
          width: 18.7rem;
        }
        .vector-3-v88 {
          height: 5.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 18.7rem;
        }
      }
    }
    .group-3-fE8 {
      height: 9.8rem;
      position: absolute;
      left: 43.95rem;
      top: 4.1rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 68.8rem;

      .application-process-kFa {
        display: flex;
        line-height: 1.3225;
        color: #a20606;
        font-family: Red Hat Display, 'Source Sans Pro';
        text-transform: capitalize;
        white-space: nowrap;
        margin-bottom: 1.6rem;
        text-align: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        flex-shrink: 0;
      }
      .learn-how-you-can-enroll-with-us-daG {
        display: flex;
        justify-content: center;
        line-height: 1.25;
        letter-spacing: 0.1rem;
        color: #1e1e1e;
        font-family: Lexend, 'Source Sans Pro';
        text-align: center;
        font-weight: 500;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4rem;
      }
    }
    .d-illustration-hand-putting-tick-paper-1-jNQ {
      left: 122.0512rem;
      top: 41.0556rem;
      background-size: 121.918% 136.895%;
      background-position: -3.2724rem -3.599rem;
      background-image: url('REPLACE_IMAGE:990b2da243d6777890f1c237e7b105022a9bde8f');
      width: 22.3976rem;
      height: 21.1282rem;
      position: relative;
    }
    .book-1-Pxk {
      height: 25.7987rem;
      position: absolute;
      left: 4.9912rem;
      top: 5.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 24.3799rem;
    }
  }
  .auto-group-sbw3-X3N {
    flex-shrink: 0;
    margin: 0rem 20rem 9.5rem 14.1rem;
    width: calc(100% - 34.1rem);
    display: flex;
    align-items: flex-end;

    .group-37-FEG {
      margin-right: 14rem;
      width: 49.4rem;
      flex-shrink: 0;

      .contact-form-oFn {
        display: flex;
        font-weight: 500;
        color: #000000;
        font-family: Lexend, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.4rem;
        font-size: 2.4rem;
        line-height: 1.25;
        letter-spacing: 0.1rem;
      }
      .frame-11-XSg {
        width: 100%;
        display: flex;
        flex-direction: column;

        .frame-10-HAx {
          width: 100%;
          height: 4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 2.4rem;

          .group-29-RY4 {
            height: 100%;
            display: flex;
            justify-content: center;
            font-weight: 400;
            white-space: nowrap;
            border-radius: 1rem;
            flex-shrink: 0;
            padding: 1.1rem 2.35rem;
            text-align: center;
            letter-spacing: 0.1rem;
            background-color: #e9faff;
            width: 23.5rem;
            font-family: Lexend, 'Source Sans Pro';
            color: #5e6b74;
            box-sizing: border-box;
            font-size: 1.4rem;
            line-height: 1.25;
            margin-right: 2.4rem;
          }
          .group-28-G2t {
            width: 23.5rem;
            height: 100%;
            background-color: #e9faff;
            border-radius: 1rem;
            flex-shrink: 0;

            .group-27-QPz {
              width: 19.1rem;
              height: 100%;
              display: flex;
              align-items: center;

              .group-26-A8G {
                align-items: center;
                border: solid 0.1rem #bdefff;
                border-radius: 1rem;
                display: flex;
                box-sizing: border-box;
                padding: 1.1rem 1.5rem 1.1rem 0.8rem;
                height: 100%;
                background-color: #e9faff;
                flex-shrink: 0;
                margin-right: 1.3rem;

                .item-91-61v {
                  font-size: 1.4rem;
                  font-weight: 400;
                  color: #5e6b74;
                  flex-shrink: 0;
                  margin-right: 1rem;
                  display: flex;
                  line-height: 1.25;
                  letter-spacing: 0.1rem;
                  font-family: Lexend, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .vector-4-18t {
                  flex-shrink: 0;
                  width: 0.8rem;
                  height: 0.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .phone-number-uzx {
                font-weight: 400;
                line-height: 1.25;
                color: #5e6b74;
                font-family: Lexend, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-size: 1.4rem;
                letter-spacing: 0.1rem;
                flex-shrink: 0;
              }
            }
          }
        }
        .group-35-RTW {
          letter-spacing: 0.1rem;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 1rem;
          flex-shrink: 0;
          background-color: #e9faff;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          padding: 1.1rem 2.4rem;
          width: 49.3rem;
          display: flex;
          line-height: 1.25;
          color: #5e6b74;
          font-size: 1.4rem;
          font-weight: 400;
        }
        .frame-9-4mN {
          flex-shrink: 0;
          width: 100%;
          height: 4rem;
          display: flex;
          align-items: center;

          .group-32-cnt {
            margin-right: 2.4rem;
            box-sizing: border-box;
            padding: 1.1rem 2.1rem 1.1rem 2.4rem;
            width: 23.5rem;
            height: 100%;
            background-color: #e9faff;
            border-radius: 1rem;
            flex-shrink: 0;

            .group-30-wqA {
              height: 100%;
              display: flex;
              align-items: center;
              width: 100%;

              .curriculum-Jfi {
                margin-right: 9.8rem;
                font-size: 1.4rem;
                line-height: 1.25;
                letter-spacing: 0.1rem;
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-weight: 400;
                color: #5e6b74;
                font-family: Lexend, 'Source Sans Pro';
              }
              .vector-4-q9r {
                width: 0.8rem;
                height: 0.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.2rem;
              }
            }
          }
          .group-33-kXi {
            box-sizing: border-box;
            padding: 1.1rem 1.6rem 1.1rem 2.4rem;
            width: 23.5rem;
            height: 100%;
            background-color: #e9faff;
            border-radius: 1rem;
            flex-shrink: 0;

            .group-31-HGk {
              align-items: center;
              width: 100%;
              height: 100%;
              display: flex;

              .grade-e7J {
                font-size: 1.4rem;
                letter-spacing: 0.1rem;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 13.9rem;
                display: flex;
                font-weight: 400;
                line-height: 1.25;
                color: #5e6b74;
                font-family: Lexend, 'Source Sans Pro';
              }
              .vector-4-wMJ {
                margin-top: 0.2rem;
                width: 0.8rem;
                height: 0.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-wxfd-G8g {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 2.4rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .group-34-QEt {
            background-color: #e9faff;
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0rem 0.1rem 2.4rem 0rem;
            box-sizing: border-box;
            padding: 2rem 2.8rem 2rem 2.4rem;
            height: 12rem;

            .please-enter-any-query-or-details-you-have-here-and-our-team-will-get-back-to-you-WYp {
              letter-spacing: 0.1rem;
              color: #5e6b74;
              font-family: Lexend, 'Source Sans Pro';
              max-width: 44.1rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.25;
            }
          }
          .group-36-Bex {
            font-size: 2.1rem;
            letter-spacing: 0.1rem;
            font-weight: 500;
            line-height: 1.3225;
            color: #ffffff;
            border-radius: 10rem;
            height: 4.8rem;
            align-items: center;
            font-family: Red Hat Display, 'Source Sans Pro';
            white-space: nowrap;
            width: 16.9rem;
            justify-content: center;
            flex-shrink: 0;
            display: flex;
            background-color: #c83f3f;
          }
        }
      }
    }
    .group-19-dmr {
      margin-bottom: 2.3rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-3-PFE {
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        display: flex;
        flex-direction: column;

        .documents-required-XcL {
          margin-bottom: 1.6rem;
          display: flex;
          font-size: 2.4rem;
          font-weight: 600;
          text-transform: capitalize;
          white-space: nowrap;
          line-height: 1.3225;
          letter-spacing: 0.1rem;
          color: #a20606;
          font-family: Red Hat Display, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .fill-the-form-and-reach-out-to-us-Rhi {
          max-width: 49.2rem;
          font-size: 4rem;
          font-weight: 500;
          letter-spacing: 0.1rem;
          color: #000000;
          flex-shrink: 0;
          display: flex;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
        }
      }
      .document-1-lorem-ipsum-sit-amet-document-2-lorem-ipsum-document-3-lorem-ipsum-sit-amet-lorem-ipsum-document-4-info-lipsum-document-5-info-lorem-ipsum-document-6-info-ipsum-sit-document-7-info-lorem-ipsum-sit-amet-Xkk {
        letter-spacing: 0.1rem;
        color: #000000;
        font-family: Questrial, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 53.7rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
      }
    }
  }
  .auto-group-d57z-NFa {
    flex-direction: column;
    margin-bottom: 5rem;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    padding: 6rem 10.9rem 8.3rem 7.5rem;
    width: 100%;
    background-color: #e7f0ff;
    flex-shrink: 0;

    .group-20-HNY {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 40.85rem 6rem 44.25rem;
      width: calc(100% - 85.1rem);
      align-items: center;

      .testimonials-DGC {
        color: #a20606;
        white-space: nowrap;
        margin: 0rem 0rem 1.6rem 0.1rem;
        justify-content: center;
        font-size: 2.4rem;
        line-height: 1.3225;
        text-transform: capitalize;
        font-family: Red Hat Display, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        display: flex;
        font-weight: 600;
        letter-spacing: 0.1rem;
      }
      .what-our-students-say-KKE {
        text-align: center;
        display: flex;
        justify-content: center;
        font-weight: 500;
        color: #121212;
        white-space: nowrap;
        font-size: 4rem;
        line-height: 1.25;
        letter-spacing: 0.1rem;
        font-family: Lexend, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-tzvr-ESC {
      width: 100%;
      height: 30.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .testimonials-1-akx {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 7.6rem;
        width: 60.6rem;
        height: 28.9rem;
        object-fit: cover;
      }
      .group-1764-icG {
        flex-direction: column;
        flex-shrink: 0;
        width: 64.6rem;
        height: 100%;
        align-items: center;
        display: flex;

        .frame-8-4w2 {
          height: 24rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 4.1rem;
          width: 100%;

          .group-23-Qzt {
            background-image: url('REPLACE_IMAGE:126:582');
            margin-right: 4rem;
            box-sizing: border-box;
            padding: 2.4rem 2.3rem 4.7rem 2.4rem;
            width: 30.3rem;
            height: 100%;
            background-size: cover;
            background-position: center;
            flex-shrink: 0;
            background-repeat: no-repeat;

            .group-22-YLQ {
              height: 100%;
              display: flex;
              flex-direction: column;
              width: 100%;

              .frame-7-W2L {
                flex-shrink: 0;
                margin: 0rem 7.3rem 2.1rem 0rem;
                width: calc(100% - 7.3rem);
                display: flex;
                align-items: flex-start;

                .rectangle-2-2mN {
                  border-radius: 2.5rem;
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                  width: 4rem;
                  height: 4rem;
                  background-color: #d9d9d9;
                }
                .group-21-ZmJ {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .james-smith-XCL {
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: 1.25;
                    flex-shrink: 0;
                    display: flex;
                    letter-spacing: 0.1rem;
                    color: #000000;
                    font-family: Lexend, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .student-eXr {
                    letter-spacing: 0.1rem;
                    color: #e05000;
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-weight: 500;
                    line-height: 1.3225;
                    font-family: Red Hat Display, 'Source Sans Pro';
                    display: flex;
                    font-size: 1.2rem;
                  }
                }
              }
              .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-letters-Nik {
                text-transform: lowercase;
                color: #000000;
                flex-shrink: 0;
                font-size: 1.2rem;
                line-height: 1.5;
                letter-spacing: 0.1rem;
                font-family: Nunito, 'Source Sans Pro';
                max-width: 25.6rem;
                font-weight: 400;

                .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-letters-Nik-sub-0 {
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.1rem;
                  text-transform: lowercase;
                  color: #000000;
                  font-family: Questrial, 'Source Sans Pro';
                  font-size: 1.2rem;
                }
                .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-letters-Nik-sub-1 {
                  font-family: Questrial, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.1rem;
                  text-transform: lowercase;
                  color: #000000;
                }
              }
            }
          }
          .group-24-ARe {
            background-size: cover;
            background-position: center;
            box-sizing: border-box;
            padding: 2.4rem 2.3rem 4.7rem 2.4rem;
            height: 100%;
            flex-shrink: 0;
            width: 30.3rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:126:593');

            .group-22-hAg {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .frame-7-41E {
                flex-shrink: 0;
                margin: 0rem 7.3rem 2.1rem 0rem;
                width: calc(100% - 7.3rem);
                display: flex;
                align-items: flex-start;

                .rectangle-2-z9n {
                  height: 4rem;
                  background-color: #d9d9d9;
                  border-radius: 2.5rem;
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                  width: 4rem;
                }
                .group-21-8Fz {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .james-smith-V6Y {
                    line-height: 1.25;
                    letter-spacing: 0.1rem;
                    font-family: Lexend, 'Source Sans Pro';
                    font-weight: 500;
                    font-size: 1.8rem;
                    color: #000000;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                  }
                  .parent-26U {
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-weight: 500;
                    color: #e05000;
                    font-family: Red Hat Display, 'Source Sans Pro';
                    font-size: 1.2rem;
                    line-height: 1.3225;
                    letter-spacing: 0.1rem;
                  }
                }
              }
              .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-letters-MPe {
                text-transform: lowercase;
                flex-shrink: 0;
                max-width: 25.6rem;
                font-size: 1.2rem;
                letter-spacing: 0.1rem;
                font-family: Nunito, 'Source Sans Pro';
                font-weight: 400;
                line-height: 1.5;
                color: #000000;

                .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-letters-MPe-sub-0 {
                  letter-spacing: 0.1rem;
                  text-transform: lowercase;
                  color: #000000;
                  font-family: Questrial, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
                .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-letters-MPe-sub-1 {
                  text-transform: lowercase;
                  color: #000000;
                  font-family: Questrial, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.1rem;
                }
              }
            }
          }
        }
        .group-39-TzQ {
          column-gap: 1.6rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0 27.9rem;
          width: calc(100% - 55.8rem);
          display: flex;

          .group-38-oHa {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2.4rem;
            height: 2.4rem;
          }
          .ellipse-2-9MS {
            width: 1.6rem;
            height: 1.6rem;
            background-color: #ffa26e;
            border-radius: 0.8rem;
            flex-shrink: 0;
          }
          .ellipse-3-gsA {
            width: 1.6rem;
            height: 1.6rem;
            background-color: #ffa26e;
            border-radius: 0.8rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .group-1756-bz8 {
    width: calc(100% - 28.5rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 14.2rem 17.1rem 14.3rem;

    .auto-group-hzbh-Xsn {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 32.1rem 5.8rem 31.9rem;
      width: 100%;

      .group-44-sAx {
        margin: 0rem 2.4rem 4rem 2.4rem;
        width: calc(100% - 4.8rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frequently-asked-questions-Pf6 {
          text-transform: capitalize;
          color: #a20606;
          font-family: Red Hat Display, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.6rem 0.1rem;
          display: flex;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.3225;
          letter-spacing: 0.1rem;
          flex-shrink: 0;
          text-align: center;
          justify-content: center;
        }
        .get-every-general-answer-from-here-VCL {
          max-width: 53.9rem;
          text-align: center;
          display: flex;
          justify-content: center;
          font-weight: 500;
          letter-spacing: 0.1rem;
          color: #000000;
          font-size: 4rem;
          line-height: 1.25;
          font-family: Lexend, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .frame-13-bmA {
        width: 100%;
        height: 4.8rem;
        display: flex;
        column-gap: 4rem;
        align-items: center;
        flex-shrink: 0;

        .group-36-wq2 {
          flex-shrink: 0;
          width: 16.9rem;
          height: 100%;
          border-radius: 1rem;

          .group-47-JvU {
            justify-content: center;
            font-weight: 500;
            line-height: 1.3225;
            font-family: Red Hat Display, 'Source Sans Pro';
            background-color: #40baff;
            display: flex;
            font-size: 2.1rem;
            white-space: nowrap;
            border-radius: 1rem;
            height: 100%;
            align-items: center;
            color: #ffffff;
            width: 100%;
            letter-spacing: 0.1rem;
          }
        }
        .group-42-yWp {
          width: 16.9rem;
          height: 100%;
          border-radius: 1rem;
          flex-shrink: 0;

          .group-46-jF6 {
            height: 100%;
            font-weight: 500;
            font-family: Red Hat Display, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #d9f1ff;
            align-items: center;
            letter-spacing: 0.1rem;
            color: #565c6e;
            border-radius: 1rem;
            display: flex;
            line-height: 1.3225;
            width: 100%;
            justify-content: center;
            font-size: 2.1rem;
          }
        }
        .group-45-Qc8 {
          background-color: #d9f1ff;
          height: 100%;
          display: flex;
          align-items: center;
          letter-spacing: 0.1rem;
          color: #565c6e;
          flex-shrink: 0;
          line-height: 1.3225;
          width: 16.9rem;
          justify-content: center;
          font-size: 2.1rem;
          font-weight: 500;
          font-family: Red Hat Display, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 1rem;
        }
      }
    }
    .auto-group-ksfv-gZe {
      width: 100%;
      height: 33.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-48-S32 {
        width: 53.7rem;
        height: 100%;
        flex-shrink: 0;
        margin-right: 15.3rem;

        .vector-5-MQt {
          margin-bottom: 2.4rem;
          width: 53.6rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-tsko-hDr {
          margin-bottom: 1.6rem;
          width: 100%;
          display: flex;
          align-items: center;

          .am-i-eligible-for-admission-Eja {
            font-size: 2rem;
            letter-spacing: 0.1rem;
            color: #000000;
            flex-shrink: 0;
            white-space: nowrap;
            margin-right: 21.5rem;
            display: flex;
            font-weight: 500;
            line-height: 1.25;
            font-family: Lexend, 'Source Sans Pro';
          }
          .item--9Lk {
            font-weight: 500;
            line-height: 1.25;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 2rem;
            color: #000000;
            flex-shrink: 0;
            text-align: right;
            letter-spacing: 0.1rem;
          }
        }
        .lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-g5n {
          margin-bottom: 2.1rem;
          max-width: 52.1rem;
          display: flex;
          font-size: 1.6rem;
          font-weight: 500;
          color: #555555;
          font-family: Red Hat Display, 'Source Sans Pro';
          line-height: 1.375;
          letter-spacing: 0.1rem;
        }
        .vector-6-WqW {
          margin-bottom: 1.6rem;
          width: 53.6rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-3zqr-4c8 {
          margin-bottom: 2.1rem;
          width: 100%;
          display: flex;
          align-items: center;

          .are-there-any-prerequisites-for-admission-p5W {
            margin-right: 7.5rem;
            letter-spacing: 0.1rem;
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.25;
            white-space: nowrap;
          }
          .item--vPS {
            font-size: 2rem;
            font-weight: 500;
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            display: flex;
            line-height: 1.25;
            letter-spacing: 0.1rem;
          }
        }
        .vector-7-TPN {
          vertical-align: top;
          margin-bottom: 1.6rem;
          width: 53.6rem;
          height: 0;
          object-fit: contain;
        }
        .auto-group-4jhd-c1N {
          margin-bottom: 2.1rem;
          width: 100%;
          display: flex;
          align-items: center;

          .what-are-the-different-curriculums-offered-A2t {
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.25;
            font-family: Lexend, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 5.2rem;
            letter-spacing: 0.1rem;
            color: #000000;
            white-space: nowrap;
          }
          .item--sT6 {
            line-height: 1.25;
            color: #000000;
            font-weight: 500;
            display: flex;
            font-size: 2rem;
            letter-spacing: 0.1rem;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
          }
        }
        .vector-8-acQ {
          margin-bottom: 1.6rem;
          width: 53.6rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-nfwt-XGk {
          margin-bottom: 2.1rem;
          width: 100%;
          display: flex;
          align-items: center;

          .how-do-i-apply-for-scholarships-H12 {
            font-family: Lexend, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 16.7rem;
            font-size: 2rem;
            letter-spacing: 0.1rem;
            color: #000000;
            display: flex;
            font-weight: 500;
            line-height: 1.25;
            white-space: nowrap;
          }
          .item--Bs6 {
            font-size: 2rem;
            letter-spacing: 0.1rem;
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            display: flex;
            font-weight: 500;
            line-height: 1.25;
          }
        }
        .vector-9-iME {
          width: 53.6rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-49-Frx {
        width: 53.7rem;
        height: 100%;
        flex-shrink: 0;

        .vector-5-C1W {
          margin-bottom: 2.4rem;
          width: 53.6rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-kxpb-wjn {
          margin-bottom: 1.6rem;
          width: 100%;
          display: flex;
          align-items: center;

          .what-is-the-curriculum-transfer-process-VmJ {
            margin-right: 10rem;
            font-size: 2rem;
            font-weight: 500;
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            line-height: 1.25;
            letter-spacing: 0.1rem;
            flex-shrink: 0;
          }
          .item--1zY {
            text-align: right;
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: 0.1rem;
            color: #000000;
            line-height: 1.25;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-95A {
          font-weight: 500;
          letter-spacing: 0.1rem;
          display: flex;
          font-size: 1.6rem;
          line-height: 1.375;
          color: #555555;
          font-family: Red Hat Display, 'Source Sans Pro';
          margin-bottom: 2.1rem;
          max-width: 52.1rem;
        }
        .vector-6-PVJ {
          vertical-align: top;
          margin-bottom: 1.6rem;
          width: 53.6rem;
          height: 0;
          object-fit: contain;
        }
        .auto-group-8h15-YNC {
          margin-bottom: 2.1rem;
          width: 100%;
          display: flex;
          align-items: center;

          .what-documents-are-required-to-apply-twr {
            display: flex;
            font-weight: 500;
            letter-spacing: 0.1rem;
            font-family: Lexend, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 9.4rem;
            font-size: 2rem;
            line-height: 1.25;
            color: #000000;
            white-space: nowrap;
          }
          .item--p4p {
            font-weight: 500;
            line-height: 1.25;
            letter-spacing: 0.1rem;
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            text-align: right;
            display: flex;
            font-size: 2rem;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .vector-7-LYx {
          margin-bottom: 1.6rem;
          width: 53.6rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-ue11-VAx {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 2.1rem;

          .how-do-i-reach-out-to-the-team-3CU {
            white-space: nowrap;
            margin-right: 17.1rem;
            font-size: 2rem;
            font-weight: 500;
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            line-height: 1.25;
            letter-spacing: 0.1rem;
          }
          .item--kcg {
            font-size: 2rem;
            line-height: 1.25;
            letter-spacing: 0.1rem;
            color: #000000;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            text-align: right;
            display: flex;
            font-weight: 500;
            flex-shrink: 0;
          }
        }
        .vector-8-sxC {
          object-fit: contain;
          vertical-align: top;
          margin-bottom: 1.6rem;
          width: 53.6rem;
          height: 0;
        }
        .auto-group-iz3h-EXr {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 2.1rem;

          .how-long-does-it-take-for-the-application-n3a {
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2rem;
            letter-spacing: 0.1rem;
            font-family: Lexend, 'Source Sans Pro';
            margin-right: 6.8rem;
            font-weight: 500;
            line-height: 1.25;
          }
          .item--tMW {
            text-align: right;
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.25;
            letter-spacing: 0.1rem;
            font-family: Lexend, 'Source Sans Pro';
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .vector-9-nxg {
          vertical-align: top;
          width: 53.6rem;
          height: 0;
          object-fit: contain;
        }
      }
    }
  }
  .group-1757-uGc {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.2rem 14.9rem 2.2rem 9.3rem;
    width: 100%;
    height: 23.7rem;
    background-color: #ffebeb;

    .group-1755-DHJ {
      width: 100%;
      height: 16.8rem;
      display: flex;
      align-items: center;

      .group-1753-MeQ {
        margin-right: 42.1rem;
        width: 46.8rem;
        height: 100%;
        flex-shrink: 0;

        .auto-group-ajd9-uA8 {
          position: relative;
          margin-bottom: 1.4rem;
          width: 100%;
          height: 13rem;

          .dps-group-01-1-2-Sfr {
            top: 0;
            background-size: 107.377% 100.334%;
            background-position: -1.1153rem -0.016rem;
            background-image: url('REPLACE_IMAGE:5abbbd700904198e204de1694c7ff5f0d7622dee');
            width: 31.4rem;
            height: 9.6rem;
            position: relative;
            left: 0;
          }
          .dps-nacharam-has-been-at-the-forefront-of-providing-world-class-affordable-education-to-students-in-and-around-hyderabad-for-over-a-decade-vb2 {
            width: 46.8rem;
            top: 9.2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3225;
            font-family: Red Hat Display, 'Source Sans Pro';
            height: 3.8rem;
            position: absolute;
            left: 0;
            color: #1e1e1e;
          }
        }
        .group-1752-n7S {
          box-sizing: border-box;
          padding: 0.1rem 0.15rem 0.1rem 0.7rem;
          display: flex;
          align-items: center;

          .grommet-icons-facebook-option-6dv {
            margin-right: 3.1671rem;
            width: 1.0329rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .akar-icons-instagram-fill-RgC {
            margin-right: 2.65rem;
            width: 2.2rem;
            height: 2.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .bytesize-twitter-A7z {
            height: 1.7072rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0598rem;
            width: 2.1rem;
          }
        }
      }
      .group-1754-gME {
        margin: 2.7rem 0;
        height: calc(100% - 5.4rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .contact-us-dGU {
          line-height: 1.25;
          color: #a20606;
          display: flex;
          font-weight: 500;
          letter-spacing: 0.1rem;
          font-family: Lexend, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.3rem;
          font-size: 2rem;
        }
        .plot-no44-uppal-mandal-42a-behind-bsnl-telephone-exchange-durga-nagar-nacharam-hyderabad-secunderabad-telangana-500076-x3r {
          max-width: 38.1rem;
          display: flex;
          font-weight: 500;
          line-height: 1.375;
          letter-spacing: 0.1rem;
          flex-shrink: 0;
          font-size: 1.6rem;
          color: #121212;
          font-family: Red Hat Display, 'Source Sans Pro';
        }
      }
    }
  }
}
